<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.yb.dao.MenuDao">
    <!--命名空间-->

    <!--查询所有记录-->
    <select id="getMenuByFid" parameterType="int" resultType="com.sz.yb.model.YbMenu">
        SELECT `mid`,mname,fid FROM ybmenu WHERE   fid=#{fid}
    </select>


</mapper>
